* body {
  background: -webkit-radial-gradient(#0f3e5d 15%, transparent 20%), -webkit-radial-gradient(#0f3e5d 15%, transparent 20%), #114a64;
  background-position: 15px 60px, 15px 60px;
  background-size: 15px 15px;
}

* body .App .Banner {
  background: -webkit-radial-gradient(#114a64 15%, transparent 20%), -webkit-radial-gradient(#114a64 15%, transparent 20%), #0f3e5d;
  background-position: 15px 60px, 15px 60px;
  background-size: 15px 15px;
  text-align: center;
}

* body .App .Banner-Header {
  display: block;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 4em;
  color: #DCEFE6;
  margin: 0;
  margin-bottom: 0.5vw;
}

* body .App .Banner-Header::-moz-selection {
  background-color: #114a64;
}

* body .App .Banner-Header::selection {
  background-color: #114a64;
}

* body .App .Banner-Subheader {
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  margin: 0;
  padding: 0 10vw;
  color: #97c0ca;
}

* body .App .Banner-Subheader::-moz-selection {
  background-color: #114a64;
}

* body .App .Banner-Subheader::selection {
  background-color: #114a64;
}

* body .App section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, 20vw);
}

* body .App .Blocks {
  overflow: auto;
  border-radius: 10px;
  background-color: #15687A;
}

* body .App .Blocks-active {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2.5vw;
  width: calc(100% - 5vw);
  height: calc(100% - 5vw);
  background-color: #15687A;
}

* body .App .Blocks-active .Button {
  position: absolute;
  bottom: 2.5vw;
  border: 0.2vw #97c0ca solid;
  border-radius: 10px;
  width: 5vw;
  height: 5vw;
  background-color: #97c0ca;
}

* body .App .Blocks-active .Button-Icon {
  margin: 1.25vw auto;
  width: 5vw;
  height: 5vw;
  stroke-linejoin: round;
  fill: #15687A;
}

* body .App .Blocks-active .Button:hover {
  -webkit-box-shadow: 0.75vw 0.75vw #0f3e5d;
          box-shadow: 0.75vw 0.75vw #0f3e5d;
  -webkit-animation: boxshadow 0.5s;
          animation: boxshadow 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: #15687A;
}

* body .App .Blocks-active .Button:hover .Button-Icon {
  fill: #97c0ca;
}

* body .App .Blocks-Header {
  display: block;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 1.75em;
  color: #DCEFE6;
  margin: 0;
  padding-bottom: 1.25vw;
}

* body .App .Blocks-Header::-moz-selection {
  background-color: #114a64;
}

* body .App .Blocks-Header::selection {
  background-color: #114a64;
}

* body .App .Blocks-BodyText {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 150%;
  font-size: 1.3em;
  margin: 0;
  color: #DCEFE6;
}

* body .App .Blocks-BodyText::-moz-selection {
  background-color: #114a64;
}

* body .App .Blocks-BodyText::selection {
  background-color: #114a64;
}

* body .App .Blocks-ListText {
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 150%;
  font-size: 1.3em;
  color: #DCEFE6;
  margin: 0;
  margin-bottom: 1vw;
}

* body .App .Blocks-ListText::-moz-selection {
  background-color: #114a64;
}

* body .App .Blocks-ListText::selection {
  background-color: #114a64;
}

* body .App .Blocks:hover {
  -webkit-box-shadow: 0.75vw 0.75vw #0f3e5d;
          box-shadow: 0.75vw 0.75vw #0f3e5d;
  -webkit-animation: boxshadow 0.5s;
          animation: boxshadow 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@-webkit-keyframes boxshadow {
  from {
    -webkit-box-shadow: 0 0 #0f3e5d;
            box-shadow: 0 0 #0f3e5d;
  }
  100% {
    -webkit-box-shadow: 0.75vw 0.75vw #0f3e5d;
            box-shadow: 0.75vw 0.75vw #0f3e5d;
  }
}

@keyframes boxshadow {
  from {
    -webkit-box-shadow: 0 0 #0f3e5d;
            box-shadow: 0 0 #0f3e5d;
  }
  100% {
    -webkit-box-shadow: 0.75vw 0.75vw #0f3e5d;
            box-shadow: 0.75vw 0.75vw #0f3e5d;
  }
}

@media (max-width: 600px) {
  .Banner {
    padding: 25vh 0 25vh 0;
  }
  section {
    gap: 4vw;
    width: 86vw;
    margin: 15vw auto 30vw auto;
  }
  .Blocks {
    padding: 5vw;
  }
}

@media (min-width: 601px) {
  .Banner {
    padding: 30vh 0;
  }
  section {
    gap: 2vw;
    width: 86vw;
    margin: 7.5vw auto 30vw auto;
  }
  .Blocks {
    padding: 2.5vw;
  }
}
/*# sourceMappingURL=App.css.map */