$primary-color: #114a64; //#15687A
$secondary-color: #15687A; //#267884
$tertiary-color: #DCEFE6; //#DCEFE6
$quaternary-color: #0f3e5d;
$quinary-color: #97c0ca; //#DCEFE6

*{
  body{
    background:
      -moz-radial-gradient($quaternary-color 15%, transparent 20%),
      -moz-radial-gradient($quaternary-color 15%, transparent 20%),
      $primary-color;
    background:
      -webkit-radial-gradient($quaternary-color 15%, transparent 20%),
      -webkit-radial-gradient($quaternary-color 15%, transparent 20%),
      $primary-color;
    background-position: 15px 60px, 15px 60px;//1vw 4vw, 1vw 4vw
    background-size: 15px 15px;//1vw 1vw
    
    .App{ 
      .banner{
        background:
          -moz-radial-gradient($primary-color 15%, transparent 20%),
          -moz-radial-gradient($primary-color 15%, transparent 20%),
          $quaternary-color;
        background:
          -webkit-radial-gradient($primary-color 15%, transparent 20%),
          -webkit-radial-gradient($primary-color 15%, transparent 20%),
          $quaternary-color;
        background-position: 15px 60px, 15px 60px;//1vw 4vw, 1vw 4vw
        background-size: 15px 15px;//1vw 1vw
        
        text-align: center;

        &--header{
          display: block;
          font-family: Montserrat, sans-serif;
          font-weight: bold;
          font-size: 4em;

          color: $tertiary-color;

          margin: 0;
          margin-bottom: 0.5vw;

          &::selection{
            background-color: $primary-color;
          }
        }

        &--subheader{
          display: block;
          font-family: Roboto, sans-serif;
          font-weight: normal;
          font-size: 1.5em;

          padding: 0 10vw;

          color: $quinary-color;

          &::selection{
            background-color: $primary-color;
          }
        }

        &--buttons{
          margin: auto 10vw;
          width: 80vw;
          display: flex;
          justify-content: center;
          align-items: center;

          .button{
            border-radius: 10px;

            &-inactive{
              background-color: $secondary-color;
            }

            &-active{
              background-color: $primary-color;
              border-color: $quinary-color;
            }

            &--text{
              padding: 0.125vw 1vw;
              color: $quinary-color;
            }
  
            &:hover{
              box-shadow: 0.75vw 0.75vw $primary-color;
  
              animation: boxshadow2 0.5s;
              animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
              background-color: $secondary-color;
            }
          }
        }
      }

      section{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: minmax(250px, 20vw);
      }

      .page{
        position: absolute;
        top: 0;
        left: 0;

        background-color: $secondary-color;
        
        .button{
          position: absolute;
          border-radius: 10px;
          background-color: $quinary-color;
          
          &--icon{
            stroke-linejoin: round;
            fill: $secondary-color;
          }

          &:hover{
            box-shadow: 0.75vw 0.75vw $quaternary-color;

            animation: boxshadow 0.5s;
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

            background-color: $secondary-color;
            
            .button--icon{
              fill: $quinary-color;
            }
          }
        }
      }

      .blocks{
        background-color: $secondary-color;
        
        &-inactive{
          overflow: hidden;

          border-radius: 10px;

          &:hover{
            box-shadow: 0.75vw 0.75vw $quaternary-color;
  
            animation: boxshadow 0.5s;
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          }
        }

        &-active{
          overflow: auto;

          height: 100vh;
        }

        &--content{
          padding-bottom: 20vw;

          &-graph{
            height: 60vh;
          }
          
          &--header{
            display: block;
            font-family: Montserrat, sans-serif;
            font-weight: bold;
            font-size: 1.75em;
  
            color: $tertiary-color;
  
            margin: 0;
  
            &::selection{
              background-color: $primary-color;
            }
          }
  
          &--bodytext{
            font-family: Roboto, sans-serif;
            font-weight: 300;
            line-height: 150%;
            font-size: 1.3em;
  
            margin: 0;
  
            color: $tertiary-color;
  
            &::selection{
              background-color: $primary-color;
            }
          }
          
          &--listtext{
            display: block;
            font-family: Roboto, sans-serif;
            font-weight: 300;
            line-height: 150%;
            font-size: 1.3em;
  
            color: $tertiary-color;
  
            margin: 0;
            margin-bottom: 1vw;
  
            &::selection{
              background-color: $primary-color;
            }
          }
        }
      }
    }
  }
}

@keyframes boxshadow {
  from {box-shadow: 0 0 $quaternary-color;}
  100% {box-shadow: 0.75vw 0.75vw $quaternary-color;}
}

@keyframes boxshadow2 {
  from {box-shadow: 0 0 $primary-color;}
  100% {box-shadow: 0.75vw 0.75vw $primary-color;}
}

@media (max-width: 600px) {
  .banner{
    padding: 25vh 0 25vh 0;
    padding: 25vh 0 5vh 0;

    &--subheader{
      margin: 0;
      margin-bottom: 15vh;
    }

    &--buttons{
      .button{
        margin-right: 5vw; 

        &-active{
          border: 0.25vw $quinary-color solid;
        }
      }
    }
  }
  
  section{
    gap: 4vw;
    width: 86vw;
    margin: 15vw auto 30vw auto;
  }
  
  .page{
    //padding: 5vw;
    width: 100vw;
    height: 100vh;

    .button{
      left: 5vw;
      bottom: 5vw;
      border: 0.4vw $quinary-color solid;
      width: 10vw;
      height: 10vw;
      
      &--icon{
        margin: 2.5vw auto;
        width: 10vw;
        height: 10vw;
      }
    }
  }

  .blocks{ 
    padding-bottom: 0;

    &-inactive{
      padding: 5vw;
    }

    &--content{
      padding: 5vw;
      
      &--header{
        padding-bottom: 5vw;
      }
    }
  }
}

@media (min-width: 601px) {
  .banner{
    padding: 30vh 0 20vh 0;

    &--subheader{
      margin: 0;
      margin-bottom: 5vh;
    }

    &--buttons{
      overflow: auto;
      .button{
        margin-right: 1.25vw; 

        &-active{
          border: 0.125vw $quinary-color solid;
        }
      }
    }
  }
  
  section{
    gap: 2vw;
    width: 86vw;
    margin: 7.5vw auto 30vw auto;
  }

  .page{
    //padding: 2.5vw;
    width: 100vw;
    height: 100vh;

    .button{
      left: 2.5vw;
      bottom: 2.5vw;
      border: 0.2vw $quinary-color solid;
      width: 5vw;
      height: 5vw;
      
      &--icon{
        margin: 1.25vw auto;
        width: 5vw;
        height: 5vw;
      }
    }
  }

  .blocks{
    padding-bottom: 0;

    &-inactive{
      padding: 2.5vw;
    }
    
    &--content{
      padding: 5vw 11.25vw;
      
      &--header{
        padding-bottom: 1.25vw;
      }
    }
  }
}